<div class="blade-static __bottom">
    <button class="btn" ng-click="startImport()" ng-disabled="!blade.canImport">
        {{ 'catalog.commands.start-import' | translate }}
    </button>
</div>
<div class="blade-content">
    <div class="blade-inner">
        <div class="inner-block">
            <form name="importWizardForm" class="form">
                <fieldset ng-init="setForm(importWizardForm)">
                    <div class="form-group">
                        <label class="form-label">{{ 'catalog.wizards.catalog-XLSX-import.labels.upload' | translate }}</label>
                        <div class="form-input">
                            <input type="file" uploader="uploader" nv-file-select style="z-index: 0;" tabindex="-1">
                            <input type="text" readonly="" ng-model="blade.csvFileUrl">
                            <button class="btn __file" type="button" onclick="$('input[type=file]').trigger('click')">
                                <i class="btn-ico fa fa-image"></i>
                            </button>
                        </div>
                    </div>
                    <div ng-show="uploader.isUploading">
                        <div class="sub-t">{{ 'catalog.wizards.catalog-XLSX-import.labels.upload-progress' | translate }}</div>
                        <div class="progress-bar __aqua" ng-style="{'width': uploader.progress + '%'}" style="width: 0%;"></div>
                    </div>
                </fieldset>

            </form>
        </div>
    </div>
</div>